__pycache__/
*.py[cod]
*$py.class
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

\.vscode/settings\.json
tags
SECRET
carga.db
*/flask_session/*
*flask_session*
.pytest_cache/*
*.h5
*bjson
*.bson
*.bson.zip
tree.html
*/covimgaq/ajna/*
*/covimgaq/busca/*
*/db.sqlite*
image_aq/covimgaq/db.sqlite3.old
image_aq/covimgaq/db.sqlite3
bhadrasana*
padma*
virasana*
bhadrasana\
virasana
padma*/*
.idea/*

*risco.csv
*.class

ajna-venv/*
*/site/*
.eggs/*
*.log
*.egg-info