{% extends "layout.html" %} {% block content %} {{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h4>
            <big>
                <b>Escolha Base, Padrão de Risco e a Visualização. Após, clique em "Aplicar" ao lado da base desejada</b>
            </big>
        </h4>
        <div class="col-sm-6">
            <h4>
                <b>Base Original:</b>
                <select class="form-control" name="base" id="base">
                    <option value="0">Selecionar</option>
                    {% for base in bases %}
                    <option value="{{ base.id }}" {% if base.id|int()==baseid|int() %} selected="selected" {% endif %}>{{ base.nome }}
                    </option>
                    {% endfor %}
                </select>
            </h4>
            <h4>Bases carregadas no Servidor</h4>
            <div class="table">
                <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive">
                    {% for filename in lista_arquivos %}
                    <tr>
                        <td align="center">{{filename}}</td>
                        <td align="center">
                            <button class="btn btn-default" onclick="aplica_risco('{{filename}}')">Aplicar</button>
                        </td>
                    </tr>
                    {% endfor %}{% if not lista_arquivos %}
                    <tr>
                        <td>Sem bases importadas.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <h4>
                <b>Padrão de Risco:</b>
                <select class="form-control" name="padrao" id="padrao">
                    <option value="0">Selecionar</option>
                    {% for padrao in padroes %}
                    <option value="{{ padrao.id }}" {% if padrao.id|int()==padraoid|int() %} selected="selected" {% endif %}>{{ padrao.nome }}
                    </option>
                    {% endfor %}
                </select>
            </h4>
            <h4>Parâmetros ativos</h4>
            <div class="table">
                <table class="table table-striped table-bordered table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0" id="pd_risco">
                    {% for parametro in parametros %}
                    <tr id="{{ parametro.id }}">
                        <td id="{{ parametro.id }}">{{parametro.nome_campo}}</td>
                        <td align="center">
                            {% if parametros_ativos %}
                            <input type="checkbox" name="parametro" value="{{parametro.nome_campo}}" {% if parametro.nome_campo in parametros_ativos
                                %} checked {% endif %}> {% else %}
                            <input type="checkbox" name="parametro" value="{{parametro.nome_campo}}" checked> {% endif %}
                        </td>
                    </tr>
                    {% endfor %}{% if not parametros %}
                    <tr>
                        <td>Sem parâmetros cadastrados.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    <h4>Visualização:
        <select class="form-control" name="visao" id="visao">
            <option value="0">Selecionar</option>
            {% for visao in visoes %}
            <option value="{{ visao.id }}" {% if visao.id|int()==visaoid|int() %} selected="selected" {% endif %}>{{ visao.nome }}
            </option>
            {% endfor %}
        </select>
    </h4>
    </div>
    <div id="list" class="row">
        <div class="table-responsive col-sm-12">
            <h4>Lista de Riscos da Base {{filename}}</h4>
            {% if csv_salvo %}
            <big>
                <a href="/static/{{csv_salvo}}">
                    <span class="label label-success">
                        <b>Baixar planilha</b>
                    </span>
                </a>
            </big>
            {% endif %}
            <div class="table">
                <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive" cellspacing="0" cellpadding="0">
                    {% for row in lista_risco %}
                    <tr>
                        {% for col in row %}
                        <td align="center">{{col}}</td>
                        {% endfor %}
                    </tr>
                    {% endfor %} {% if not lista_risco %}
                    <tr>
                        <td>Sem resultados.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
            &nbsp;
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% if valores %}
<div class="modal fade" id="valoresmodal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel">Lista de Valores do Parâmetro de Risco</h1>
            </div>
            <div class="modal-body modal-body-dif">
                <div class="table-responsive col-md-12">
                    <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive" cellspacing="0"
                        cellpadding="0" id="parametros" align="center">
                        {% for valor in valores %}
                        <tr>
                            <td>{{valor.valor}}</td>
                            <td>{{valor.tipo_filtro}}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    &nbsp;
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endif %} {% endblock %} {% block scripts %} {{super()}}
<script>
    function aplica_risco(filename) {
        parametros_selecionados = [];
        $("input:checkbox[name=parametro]:checked").each(function () {
            parametros_selecionados.push($(this).val());
        });
        window.location.assign('/aplica_risco?filename=' + filename +
            '&baseid=' + $("#base").val() +
            '&padraoid=' + $("#padrao").val() +
            '&visaoid=' + $("#visao").val() +
            '&parametros_ativos=' + parametros_selecionados
        )
    }
    $(function () {
        var submit_form = function (e) {
            window.location.assign('/risco?baseid=' + $("#base").val() +
                '&padraoid=' + $("#padrao").val() +
                '&visaoid=' + $("#visao").val()
            )
        };
        $('#base').bind('change', submit_form);
        $('#padrao').bind('change', submit_form);
    });
    function mostra_valores(parametroid) {
        window.location.assign('/risco?baseid=' + $("#base").val() +
            '&padraoid=' + $("#padrao").val() +
            '&visaoid=' + $("#visao").val() +
            '&parametroid=' + parametroid
        )
    }
    $('#pd_risco td:first-child').click(function () {
        var id_risco = $(this).attr('id')
        mostra_valores(id_risco)
    })
    $(document).ready(function () {
        $('#valoresmodal').modal();
    })
</script>

<style>
    .modal-body-dif {
        max-height: calc(50vh - 150px);
        overflow-y: auto;
    }
</style> {% endblock %}