{% extends "layout.html" %} {% block content %}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h3>Escolha Base, Padrão de Risco e a Visualização. Após, clique em "Aplicar" ao lado da base desejada</h3>
        <div class="col-md-12">
            <p>Base Original:
                <select name="base" id="base">
                    <option value="0">Selecionar</option>
                    {% for base in bases %}
                    <option value="{{ base.id }}" {% if base.id|int()==baseid|int() %} selected="selected" {% endif %}>{{ base.nome }}
                    </option>
                    {% endfor %}
                </select>
            </p>
            <p>Padrão de Risco:
                <select name="padrao" id="padrao">
                    <option value="0">Selecionar</option>
                    {% for padrao in padroes %}
                    <option value="{{ padrao.id }}"{% if padrao.id|int()==padraoid|int() %} selected="selected" {% endif %}>{{ padrao.nome }}
                    </option>
                    {% endfor %}
                </select>
            </p>
            <h4>Parâmetros ativos</h4>
            <table>
                {% for parametro in parametros %}
                <tr>
                    <td>{{parametro.nome_campo}}</td>
                    <td>
                        {% if parametros_ativos %}
                            <input type="checkbox" name="parametro" value="{{parametro.nome_campo}}"
                            {% if parametro.nome_campo in parametros_ativos %}
                             checked
                            {% endif %}
                            >
                        {% else %}
                            <input type="checkbox" name="parametro" value="{{parametro.nome_campo}}" checked>
                        {% endif %}

                    </td>
                    <td>
                        <a href="/valores_parametro/{{parametro.id}}" target="_blank">Ver valores</a>
                    </td>
                </tr>
                {% endfor %}{% if not parametros %}
                <tr>
                    <td>Sem parâmetros cadastrados.</td>
                </tr>
                {% endif %}
            </table>

            <p>Visualização:
                <select name="visao" id="visao">
                    <option value="0">Selecionar</option>
                    {% for visao in visoes %}
                    <option value="{{ visao.id }}"{% if visao.id|int()==visaoid|int() %} selected="selected" {% endif %}>{{ visao.nome }}
                    </option>
                    {% endfor %}
                </select>
            </p>
            <h4>Bases carregadas no Servidor</h4>
            <table>
                {% for filename in lista_arquivos %}
                <tr>
                    <td>{{filename}}</td>
                    <td>
                        <button class="btn-default" onclick="aplica_risco('{{filename}}')">Aplicar</button>
                    </td>
                </tr>
                {% endfor %}{% if not lista_arquivos %}
                <tr>
                    <td>Sem bases importadas.</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <h4>Lista de Riscos da Base {{filename}}</h4>
            {% if csv_salvo %}
            <a href="/static/{{csv_salvo}}">Baixar planilha</a>
            {% endif %}
            <table>
                {% for row in lista_risco %}
                <tr>
                    {% for col in row %}
                    <td>{{col}}</td>
                    {% endfor %}
                </tr>
                {% endfor %} {% if not lista_risco %}
                <tr>
                    <td>Sem resultados.</td>
                </tr>
                {% endif %}
            </table>
            &nbsp;
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    function aplica_risco(filename) {
        parametros_selecionados = [];
        $("input:checkbox[name=parametro]:checked").each(function(){
            parametros_selecionados.push($(this).val());
        });
        window.location.assign('/aplica_risco?filename=' + filename +
            '&baseid=' + $("#base").val() +
            '&padraoid=' + $("#padrao").val() +
            '&visaoid=' + $("#visao").val() +
            '&parametros_ativos=' + parametros_selecionados
        )
    }
    $(function () {
        var submit_form = function (e) {
            window.location.assign('/risco?baseid=' + $("#base").val() +
                '&padraoid=' + $("#padrao").val() +
                '&visaoid=' + $("#visao").val()
            )
        };
        $('#base').bind('change', submit_form);
        $('#padrao').bind('change', submit_form);
    });
</script> {% endblock %}