{% extends "layout.html" %} {% block content %}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h2>Escolha o Padrão de Risco a aplicar e a Base de Dados:</h2>
        <div class="col-md-12">
            <nobr>
                <h4>Arquivo: </h4>
                <p>{{filename}}</p>
            </nobr>
            <select name="base" id="base">
                {% for base in bases %}
                <option value="{{ base.id }}">{{ base.nome }}</option>
                {% endfor %}
            </select>
            <select name="visao" id="visao">
                {% for visao in visoes %}
                <option value="{{ visao.id }}">{{ visao.nome }}</option>
                {% endfor %}
            </select>
            {% if lista_arquivos %}
            <h4>Bases carregadas no Servidor</h4>
            <table>
                {% for filename in lista_arquivos %}
                <tr>
                    <td>{{filename}}</td>
                    <td>
                        <button class="btn-default" onclick="aplica_risco('{{filename}}')">Aplicar</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            {% endif %}
        </div>
    </div>

    <div id="list" class="row">
        <div class="table-responsive col-sm-3">
            <h4>Campos importados: </h4>
            <table class="inlineTable table table-striped table-bordered table-hover table-responsive" cellspacing="0" cellpadding="0"
                id="campos">
                <th>Campos </th>
                <tr>
                    <td id="campo" align="center">
                        nome
                    </td>
                </tr>
            </table>
        </div>
        <div class="table-responsive col-sm-3">
            <h4>Campos selecionados para filtro: </h4>
            <table class="inlineTable table table-striped table-bordered table-hover table-responsive" id="filtros">
                <th>Campos </th>
                <tr></tr>
            </table>
            &nbsp;
        </div>
        <h4>Valores dos filtros: </h4>
        <form id="frmvalores" onsubmit="add_td()" class="form-inline">
            <div class="form-group">
                <input id="inp" class="form-control form-control-sm" type="text">
            </div>
            <div class="form-group">
                <button onclick="add_td()" id="btn_aplicar" type="button" class="btn btn-default">OK</button>
            </div>
        </form>
        &nbsp;
        <div class="table-responsive col-sm-3">
            <table class="inlineTable table table-striped table-bordered table-hover table-responsive" id="valores">
                <tr>
                </tr>
            </table>
            &nbsp;
        </div>
        <div class="table-responsive col-md-12">
            <h4>Lista de Riscos</h4>
            {% if csv_salvo %}
            <a href="/static/{{csv_salvo}}">Baixar planilha</a>
            {% endif %}
            <table class="inlineTable table table-striped table-bordered table-hover table-responsive" id="riscos">
                {% for row in lista_risco %}
                <tr>
                    {% for col in row %}
                    <td>{{col}}</td>
                    {% endfor %}
                </tr>
                {% endfor %} {% if not lista_risco %}
                <tr>
                    <td>Sem resultados.</td>
                </tr>
                {% endif %}
            </table>
            &nbsp;
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    function aplica_risco(filename) {
        window.location.assign('/aplica_risco?filename=' + filename +
            '&base=' + $("#base").val() +
            '&visao=' + $("#visao").val()
        )
    }

    function mostra_valores(atd) {
        alert($(atd).text())

    }

    var campos = document.querySelector("#campos tbody");
    var valores = document.querySelector("#valores tbody");
    var filtros = document.querySelector("#filtros tbody");

    function add_td() {
        var val = $("#inp").val();
        if (val != '') {
            $(valores).append(
                $('<tr>').append(
                    $('<td align="center" ondblclick="delete_td(this)">').text(val)
                ));
            $("#inp").val('');
        }
    }

    function delete_row(atd) {
        var atr = atd.parentNode.parentNode;
        atr.parentNode.removeChild(atr);
    }

    function add_row(atd) {
        var atr = atd.parentNode;
        $(filtros).append($('<tr>').append($('<td  onclick="mostra_valores(this)" ondblclick="delete_td(this)" align="center">').append($(atr).text().trim())));
    }
    function delete_td(atd) {
        var atr = atd;
        atr.parentNode.removeChild(atr);
    }

    $("#campos td").click(function () {
        add_row(this);
    })

    $("#filtros td").click(function () {
        alert($("#filtros td:eq(0)").text())
        alert($(this).eq(0).text())
    });

</script> {% endblock %}