{% extends "layout.html" %} {% block content %}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h4>
            <big>
                <b>Escolha o Padrão de Risco a editar:</b>
            </big>
            <select name="padrao" id="padrao">
                <option value="0">Selecionar</option>
                {% for padrao in padroes %}
                <option value="{{ padrao.id }}" {% if padrao.id|int()==padraoid|int() %} selected="selected" {% endif %}>{{ padrao.nome }}
                </option>
                {% endfor %}
            </select>
        </h4>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% if parametros %}
            <h4>Parâmetros de risco cadastrados</h4>
            <div id="list" class="row col-sm-9">
                <form id="frmparametros" class="form-group">
                    <div class="form-group">
                        <div class="form-group col-sm-9">
                            <div class="input-group">
                                <input class="form-control ui-autocomplete-input" autocomplete="off" id="parametro_risco" type="text">
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#itensmodal"
                                        title="Show All Items">
                                        <i class="glyphicon glyphicon-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-1">
                        <button onclick="adicionar_parametro()" id="btn_ok" type="button" class="btn btn-default">OK</button>
                    </div>
                </form>
                <table class="inlineTable table table-bordered table-hover table-responsive" cellspacing="0" cellpadding="0" id="parametros">
                    {% for parametro in parametros %}
                    <tr id="{{ parametro.id }}" {% if parametro.id|int()==riscoid|int() %} class="row-clicked" {% endif %}>
                        <td id="{{ parametro.id }}" align="center">{{parametro.nome_campo}}</td>
                        <td align="center">
                            <input type="button" class="btn  btn-danger" value="x" onclick="exclui_parametro({{ parametro.id }})" />
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
        {% if parametros %}
        <h4>Lista de Valores do Parâmetro
            <button id="btn_incluir" type="button" class="btn btn-primary" data-toggle="modal" data-target="#importa_csv" {% if not riscoid
                %} disabled {% endif %}>Importar CSV</button>
            <button onclick="exporta_csv({{ riscoid }})" id="btn_incluir" type="button" class="btn btn-default" {% if not riscoid %}
                disabled {% endif %}>Exportar CSV</button>
        </h4>
        <div class="table-responsive col-sm-6">
            {% if riscoid %}
            <form id="frmvalores" onsubmit="" class="form-group">

                <div class="form-group col-sm-2">
                    <input id="id_risco" class="form-control" type="text" value="{{ riscoid }}" disabled>
                </div>

                <div class="form-group col-sm-4">
                    <input id="valor" class="form-control" type="text">
                </div>
                <div class="form-group col-sm-4">
                    <select name="filtro" id="tipofiltro">
                        <option value="0">Selecionar</option>
                        <option value="igual">Filtro.igual</option>
                        <option value="comeca_com">Filtro.comeca_com</option>
                        <option value="contem">Filtro.contem</option>
                    </select>
                </div>
                <div class="form-group">
                    <button onclick="adicionar_valor()" id="btn_incluir" type="button" class="btn btn-success">Incluir</button>
                </div>
            </form>
            {% endif %}
            <table class="inlineTable table table-striped table-bordered table-hover table-responsive" id="riscos">
                {% for valor in valores %}
                <tr>
                    <td>{{valor.valor}}</td>
                    <td>{{valor.tipo_filtro}}</td>
                    <td align="center">
                        <input type="button" class="btn  btn-danger" value="x" onclick="excluir_valor({{ valor.id }})" />
                    </td>
                </tr>
                {% endfor %} {% if not valores %}
                <tr>
                    <td>Sem resultados.</td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% endif %}
        <div id="bottom" class="row">
            AJNA - Receita Federal do Brasil 2017
        </div>
    </div>
</div>
<div class="modal fade" id="importa_csv" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel">Importar CSV</h1>
            </div>
            <div class="modal-body">
                <form method="POST" action="/importa_csv/{{ padraoid }}/{{ riscoid }}" enctype="multipart/form-data">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                    <input type="hidden" name="padraoid" value="{{ padraoid }}" />
                    <input type="hidden" name="id_parametro" value="{{ riscoid }}" />
                    <label class="btn btn-default btn-choose" for="csv">
                        <input id="csv" name="csv" type="file" style="display:none" onchange="$('#upload-file-info').html(this.files[0].name)"> Escolha o CSV
                    </label>
                    <big>
                        <span class='label label-success' id="upload-file-info"></span>
                    </big>
                    &nbsp;
                    <input class="btn btn-primary" type="submit" value="Importar CSV" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="itensmodal" class="modal fade" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel">Selecionar Parâmetros</h1>
            </div>
            <div class="modal-body modal-body-dif">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
                <div class="table-responsive col-md-12">
                    <table class="inlineTable table table-striped table-bordered table-hover table-condensed table-responsive" id="lista_parametros"
                        align="center">
                        {% for item in lista_autocomplete %}
                        <tr align="center">
                            <td align="center">{{item}}</td>
                        </tr>
                        {% endfor %} {% if not lista_autocomplete %}
                        <tr>
                            <td>Sem resultados</td>
                        </tr>
                        {% endif %}
                    </table>
                    &nbsp;
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="btn_all">Selecionar tudo</button>
                <button type="button" class="btn btn-primary" id="btn_sel">Adicionar Selecionados</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script src="/static/js/jquery-ui.min.js"></script>
<script>
    function valor_parametro(riscoid) {
        window.location.assign('/edita_risco?padraoid=' + $("#padrao").val() + '&riscoid=' + riscoid)
    }

    var parametros = document.querySelector("#parametros tbody");
    var valores = document.querySelector("#riscos tbody")
    var chave = document.querySelector("#parametros tbody")

    function adicionar_parametro() {
        var risco = $("#parametro_risco").val();
        if (risco != '') {
            window.location.assign('/adiciona_parametro?padraoid=' + $("#padrao").val() +
                '&risco_novo=' + risco
            )
        }
    }

    function exclui_parametro(riscoid) {
        window.location.assign('/exclui_parametro?padraoid=' + $("#padrao").val() + '&riscoid=' + riscoid)
    }

    function adicionar_valor() {
        var novo_valor = $("#valor").val();
        var filtro = $("#tipofiltro").val();
        var id_risco = $("#id_risco").val();
        if (novo_valor != '' && filtro != 0 && id_risco != undefined) {
            window.location.assign('/adiciona_valor?padraoid=' + $("#padrao").val() +
                '&riscoid=' + id_risco + '&novo_valor=' + novo_valor + '&filtro=' + filtro
            )
        }
    }

    function excluir_valor(valorid) {
        window.location.assign('/exclui_valor?padraoid=' + $("#padrao").val() +
            '&riscoid=' + $("#id_risco").val() + '&valorid=' + valorid
        )
    }

    $('#parametros td:first-child').click(function () {
        var id_risco = $(this).attr('id')
        valor_parametro(id_risco)
    })

    $(function () {
        var submit_form = function (e) {
            window.location.assign('/edita_risco?padraoid=' + $("#padrao").val()
            )
        };
        $('#padrao').bind('change', submit_form);
    });

    function exporta_csv(riscoid) {
        window.location.assign('/exporta_csv?padraoid=' + $("#padrao").val() +
            '&riscoid=' + riscoid
        )
    }

    $(function () {
        var lista = []
        {% for item in lista_autocomplete %}
        lista[lista.length] = "{{item}}"
        {% endfor %}
        $("#parametro_risco").autocomplete({
            source: lista
        });
    });
    
    $(function () {
        var adicionar = []
        $('#lista_parametros td:first-child').click(function () {
            adicionar[adicionar.length] = $(this).text()
            $(this).addClass('row-clicked')
        });
        $('#lista_parametros td:first-child').dblclick(function () {
            $(this).removeClass('row-clicked')
            var removeItem = $(this).text();

            adicionar = jQuery.grep(adicionar, function (value) {
                return value != removeItem;
            });
            alert(adicionar)
        });
        $('#btn_sel').click(function () {
            if (adicionar != '') {
                window.location.assign('/adiciona_parametro?padraoid=' + $("#padrao").val() +
                    '&lista=' + $(adicionar).toArray()
                )
            }
        });
        $('#btn_all').click(function () {
            $('#lista_parametros td:first-child').each(function () {
                $(this).addClass('row-clicked')
                adicionar[adicionar.length] = $(this).text()
            });
        });
    });

</script>
<style>
    .row-clicked {
        background-color: rgb(38, 132, 226);
    }

    .modal-body-dif {
        max-height: calc(80vh - 150px);
        overflow-y: auto;
    }
</style> {% endblock %}