{% extends "layout.html" %} {% block content %}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h2>Escolha o Padrão de Risco a aplicar e a Base de Dados:</h2>
        <div class="col-sm-6">
            <h4>Padrões de risco: </h4>
            <select name="padrao" id="padrao">
                <option value="0">Selecionar</option>
                {% for padrao in padroes %}
                <option value="{{ padrao.id }}" {% if padrao.id|int()==padraoid|int() %} selected="selected" {% endif %}>{{ padrao.nome }}
                </option>
                {% endfor %}
            </select>
            {% if parametros %}
            <h4>Parâmetros de risco cadastrados</h4>
            <div id="list" class="row">
                <form id="frmvalores" class="form-group">
                    <div class="form-group col-sm-4">
                        <input id="parametro_risco" class="form-control" type="text">
                    </div>
                    <div class="form-group col-sm-1">
                        <button onclick="adicionar_parametro()" id="btn_ok" type="button" class="btn btn-default">OK</button>
                    </div>
                </form>
                <table class="inlineTable table table-striped table-bordered table-hover table-responsive" cellspacing="0" cellpadding="0"
                    id="parametros">
                    {% for parametro in parametros %}
                    <tr>
                        <td id="{{ parametro.id }}" align="center">{{parametro.nome_campo}}</td>
                        <td align="center">
                            <input type="button" class="btn  btn-danger" value="x" onclick="exclui_parametro({{ parametro.id }})" />
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="table-responsive col-md-12">
    <h4>Lista de Valores do Parâmetro</h4>
    <form id="frmvalores" onsubmit="add_row()" class="form-group">
        <div class="form-group col-sm-4">
            <input id="valor" class="form-control" type="text">
        </div>
        <div class="form-group col-sm-4">
            <select name="filtro" id="tipofiltro">
                <option value="0">Selecionar</option>
                <option value="igual">Filtro.igual</option>
                <option value="comeca_com">Filtro.comeca_com</option>
                <option value="contem">Filtro.contem</option>
            </select>
        </div>
        <div class="form-group">
            <button onclick="adicionar_valor()" id="btn_incluir" type="button" class="btn btn-default">Incluir</button>
        </div>
    </form>
    <table class="inlineTable table table-striped table-bordered table-hover table-responsive" id="riscos">
        {% for valor in valores %}
        <tr>
            <td>{{valor.valor}}</td>
            <td>{{valor.tipo_filtro}}</td>
            <td align="center">
                <input type="button" class="btn  btn-danger" value="x" onclick="exclui_valor({{ valor.id }})" />
            </td>
        </tr>
        {% endfor %} {% if not valores %}
        <tr>
            <td>Sem resultados.</td>
        </tr>
        {% endif %}
    </table>
</div>
<div id="bottom" class="row">
    AJNA - Receita Federal do Brasil 2017
</div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    function aplica_risco(filename) {
        window.location.assign('/aplica_risco2?filename=' + filename +
            '&base=' + $("#base").val() +
            '&visao=' + $("#visao").val()
        )
    }
    function valor_parametro(nome_campo) {
        window.location.assign('/edita_risco?padraoid=' + $("#padrao").val() + '&nome_campo=' + nome_campo)
    }

    var parametros = document.querySelector("#parametros tbody");
    var valores = document.querySelector("#riscos tbody")

    function adicionar_parametro() {
        var risco = $("#parametro_risco").val();
        if (risco != '') {
            window.location.assign('/adiciona_parametro?padraoid=' + $("#padrao").val() +
                '&risco_novo=' + risco
            )
        }
    }

    function adicionar_valor() {
        var novo_valor = $("#valor").val();
        var filtro = $("#tipofiltro").val();
        if(novo_valor != '' && filtro != 0){
            window.location.assign('/adiciona_valor?padraoid=' + $("#padrao").val() + 
            '&riscoid=' +$("#riscos").val() +
                '&novo_valor=' + novo_valor
            )
        }
    }

    function excluir_valor(valorid){
        window.location.assign('/exclui_valor?padraoid=' + $("#padrao").val() +
            '&riscoid=' + $("#risco").val()
        )
    }

    function exclui_parametro(riscoid) {
        window.location.assign('/exclui_parametro?padraoid=' + $("#padrao").val() +
            '&riscoid=' + riscoid
        )
    }

    $('#parametros td').click(function () {
        var val = $(this).attr('id');
        alert(val)
    })

    function mostra_valores(row) {
        alert($(row).text())
    }

    $(function () {
        var submit_form = function (e) {
            window.location.assign('/edita_risco?padraoid=' + $("#padrao").val() +
                '&riscoid=' + $("#risco").val()
            )
        };
        $('#padrao').bind('change', submit_form);
    });

</script> {% endblock %}