{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h4>
            <big>
                <b>Escolha a Visao a editar:</b>
            </big>
        </h4>
    </div>
    <div class="row">
        <div class="col-sm-6">
            {% if visoes %}
            <form id="frmvisoes" class="form-group">
                <div class="form-group">
                    <div class="form-group col-sm-9">
                        <div class="input-group">
                            <input class="form-control ui-autocomplete-input" autocomplete="off" id="visao_novo" type="text" placeholder="Nova Visao">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="adiciona_visao()" id="btn_visao" aria-haspopup="true" aria-expanded="false"
                                    title="Adicionar">
                                    OK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table">
                <table class="inlineTable table table-bordered table-hover table-responsive" cellspacing="0" cellpadding="0" id="visoes">
                    {% for visao in visoes %}
                    <tr id="{{ visao.id }}" {% if visao.id|int()==visaoid|int() %} class="row-clicked" {% endif %}>
                        <td id="{{ visao.id }}" align="center">{{visao.nome}}</td>
                        <td align="center">
                            <input type="button" class="btn  btn-danger" value="x" onclick="exclui_visao({{ visao.id }})" />
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
        <div class="col-sm-6">
            <form id="frmcolunas" class="form-group">
                <div class="form-group">
                    <div class="form-group col-sm-9">
                        <div class="input-group">
                            <input class="form-control ui-autocomplete-input" autocomplete="off" id="col_nova" type="text" placeholder="Nova Coluna">
                            <div class="input-group-btn">
                                <button type="button" class="btn btn-default" onclick="adiciona_coluna()" id="btn_col" aria-haspopup="true" aria-expanded="false"
                                    title="Adicionar">
                                    OK
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            <div class="table">
                <table class="inlineTable table table-striped table-bordered table-hover table-responsive" cellspacing="0" cellpadding="0"
                    id="colunas">
                    {% for coluna in colunas %}
                    <tr id="{{ coluna.id }}">
                        <td id="{{ coluna.id }}" align="center">{{coluna.nome}}</td>
                        <td>
                            <input type="button" class="btn  btn-danger" value="x" onclick="exclui_coluna({{ coluna.id }})" />
                        </td>
                    </tr>
                    {% endfor %}{% if not colunas %}
                    <tr>
                        <td>Sem resultados.</td>
                    </tr>
                    {% endif %}
                </table>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col-sm-12">
        <h4>Lista de tabelas</h4>
        <form id="frmvalores" onsubmit="" class="form-group">
            <div class="form-group col-sm-3">
                <input id="csv" class="form-control" type="text" placeholder="CSV">
            </div>
            <div class="form-group col-sm-3">
                <input id="primario" class="form-control" type="text" placeholder="Primario">
            </div>
            <div class="form-group col-sm-3">
                <input id="estrangeiro" class="form-control" type="text" placeholder="Estrangeiro">
            </div>
            <div class="form-group col-sm-2">
                <input id="pai_id" class="form-control" type="text" placeholder="Pai_id">
            </div>
            <div class="form-group">
                <button onclick="adicionar_valor()" id="btn_incluir" type="button" class="btn btn-success">Incluir</button>
            </div>
        </form>
        <div class="table">
            <table class="inlineTable table table-striped table-bordered table-hover table-responsive" id="tabelas">
                {% for tabela in tabelas %}
                <tr>
                    <td>{{tabela.csv}}</td>
                    <td>{{tabela.primario}}</td>
                    <td>{{tabela.estrangeiro}}</td>
                    <td>{{tabela.pai_id}}</td>
                    <td align="center">
                        <input type="button" class="btn  btn-danger" value="x" onclick="excluir_valor({{ tabela.id }})" />
                    </td>
                </tr>
                {% endfor %} {% if not tabelas %}
                <tr>
                    <td>Sem resultados.</td>
                </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>
<div id="bottom" class="row">
    <p>&nbsp;&nbsp;&nbsp;&nbsp;AJNA - Receita Federal do Brasil 2017</p>
</div>
</div>
<div class="modal fade" id="visao" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel">Editar visao</h1>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script src="/static/js/jquery-ui.min.js"></script>
<script>
    $(function () {
        var submit_form = function (e) {
            window.location.assign('/juncoes?visaoid=' + $("#visao").val()
                + '&tabelaid=' + $('#tabela').val()
            )
        };
        $('#visao').bind('change', submit_form);
        $('#colunas').bind('change', submit_form);
        $('#tabela').bind('change', submit_form);
    });

    $('#visoes td:first-child').click(function () {
        var visaoid = $(this).attr('id')
        valor_parametro(visaoid)
    });

    function valor_parametro(visaoid) {
        window.location.assign('/juncoes?visaoid=' + visaoid)
    };

    function adiciona_visao() {
        var visao_novo = $("#visao_novo").val();
        if (visao_novo != '') {
            window.location.assign('/adiciona_visao?visao_novo=' + visao_novo)
        }
    };
    function exclui_visao(visaoid) {
        window.location.assign('/exclui_visao?visaoid=' + visaoid)
    }

    function adiciona_coluna() {
        var col_nova = $("#col_nova").val();
        if (col_nova != '') {
            window.location.assign('/adiciona_coluna?visaoid={{ visaoid }}' +
                '&col_nova=' + col_nova)
        }
    }

    function exclui_coluna(colunaid) {
        window.location.assign('/exclui_coluna?visaoid={{ visaoid }}' +
            '&colunaid=' + colunaid)
    }


</script>
<style>
    .row-clicked {
        background-color: rgba(207, 207, 207, 0.692);
    }

    .modal-body-dif {
        max-height: calc(80vh - 150px);
        overflow-y: auto;
    }

    .body {
        color: #E7E7E7;
        background-color: #036;
    }
</style> {% endblock %}