{% extends "bootstrap/base.html" %} 
{% block title %} 
AJNA - Visão computacional e Aprendizado de máquina na vigilância aduaneira
{% endblock %} 

{% block head %} {{super()}}
<link href="/static/css/jquery-ui.min.css" rel="stylesheet"> 
{% endblock %} 

{% block navbar %} {{super()}}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
{{nav.mynavbar.render()}}

{% endblock %}

{% block content %} {{super()}}
<link href="/static/css/bootstrap.min.css" rel="stylesheet">
<style>
    .table {
        margin: auto;
    }
    th, td {
        text-align: center;
        color: #333;
    }
    td:hover{
        background-color:rgba(207, 207, 207, 0.692)
    }
</style>
{% endblock %}
