{% extends "layout.html" %} {% block content %}{{super()}}
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
    <div id="loginmodal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Formulário de Login</h4>
                </div>
                <div class="modal-body">
                    <form id="frmlogin" method="post">
                        <div class="form-group">
                            <label for="username">Nome:</label>
                            <input type="text" class="form-control" id="username" name="username" autofocus="autofocus">
                        </div>
                        <div class="form-group">
                            <label for="senha">Senha:</label>
                            <input type="text" class="form-control" id="senha" name="senha">
                        </div>
                        <button class="btn btn-block btn-primary btn-default" id="btnlogin">
                            <i class="fa fa-save"></i>&nbsp;Entrar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>{% endblock %} {% block scripts %} {{super()}}
{% endblock %}