{% extends "layout.html" %} {% block content %}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h4>
            <big>
                <b>Escolha a Base a navegar:</b>
            </big>
            <select name="module" id="module">
                <option value="">Selecionar</option>
                {% for modulo in list_modulos %}
                <option value="{{ modulo }}" {% if modulo==selected_module %} selected="selected" {% endif %}>{{ modulo }}
                </option>
                {% endfor %}
            </select>
            <select name="model" id="model">
                <option value="">Selecionar</option>
                {% for model in list_models %}
                <option value="{{ model }}" {% if model==selected_model %} selected="selected" {% endif %}>
                    {{ model }}
                </option>
                {% endfor %}
            </select>
            <select name="field" id="field">
                <option value="">Selecionar</option>
                {% for field in list_fields %}
                <option value="{{ field }}" {% if field==selected_field %} selected="selected" {% endif %}>
                    {{ field }}
                </option>
                {% endfor %}
            </select>
        </h4>
    </div>
    <div class="row">
        {% if campos %}
        <h4>Lista de Campos da Base
        </h4>
        <div class="table-responsive col-sm-6">
            {% if riscoid %}
            <form id="frmcampos" onsubmit="" class="form-group">
                <div class="form-group col-sm-4">
                    <input id="valor" class="form-control" type="text">
                </div>
                <div class="form-group col-sm-4">
                    <select name="filtro" id="tipofiltro">
                        <option value="0">Selecionar</option>
                        <option value="igual">Filtro.igual</option>
                        <option value="comeca_com">Filtro.comeca_com</option>
                        <option value="contem">Filtro.contem</option>
                    </select>
                </div>
                <div class="form-group">
                    <button onclick="adicionar_valor()" id="btn_incluir" type="button" class="btn btn-success">Incluir</button>
                </div>
            </form>
            {% endif %}
            <table class="inlineTable table table-striped table-bordered table-hover table-responsive" id="riscos">
                {% for valor in valores %}
                <tr>
                    <td>{{valor.valor}}</td>
                    <td>{{valor.tipo_filtro}}</td>
                    <td align="center">
                        <input type="button" class="btn  btn-danger" value="x" onclick="exclui_valor({{ valor.id }})" />
                    </td>
                </tr>
                {% endfor %} {% if not valores %}
                <tr>
                    <td>Sem resultados.</td>
                </tr>
                {% endif %}
            </table>
        </div>
        {% endif %}
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %} {% block scripts %} {{super()}}
<script>
    $(function () {
        var submit_form = function (e) {
            window.location.assign('/navega_bases' +
                '?selected_module=' + $("#module").val() +
                '&selected_model=' + $("#model").val() +
                '&selected_field=' + $("#field").val()
            )
        };
        $('#module').bind('change', submit_form);
        $('#model').bind('change', submit_form);
    });

</script> {% endblock %}