{% extends "layout.html" %} {% block content %}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <div class="col-md-12">
            <h4>Este formulário permite o UPLOAD de arquivo csv ou sch-txt, ou zip contendo estes</h4>
            <form action="/risco" method="post" enctype="multipart/form-data" id="frmrisco">
                <h3>
                    <i>Informe um arquivo </i>
                </h3>
                <input type="file" name="file">
                <br>
                <input type="submit" value="Submeter arquivo">
            </form>
        </div>
    </div>
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <h4>Arquivos já carregados no Servidor</h4>
            <table>
                {% for filename in lista_arquivos %}
                <tr>
                    <td>{{filename}}</td>
                    <td>
                        <button class="btn-default" onclick="importar('{{filename}}')">Importar</button>
                    </td>
                </tr>
                {% endfor %}
            </table>
            <h4>Indicar nome da Base que está sendo importada e data (opcional)</h4>
            Base:
            <select name="base" id="base">
                {% for base in bases %}
                <option value="{{ base.id }}">{{ base.nome }}</option>
                {% endfor %}
            </select>
            <br>
            Data:
            <input type="text" id="data">
            </input>
            &nbsp;
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script>
    function importar(filename) {
        window.location.assign('/importa?filename=' + filename +
            '&base=' + $("#base").val() +
            "&data=" + $("#data").val())
    }
</script> {% endblock %}