{% extends "layout.html" %} {% block content %}
<div id="main" class="container-fluid">
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            <h4>Lista de Valores do Parâmetro de Risco</h4>
            <table>
                {% for valor in valores %}
                <tr>
                    <td>{{valor.valor}}</td>
                    <td>{{valor.tipo_filtro}}</td>
                </tr>
                {% endfor %} {% if not valores %}
                <tr>
                    <td>Sem resultados.</td>
                </tr>
                {% endif %}
            </table>
            &nbsp;
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
{% endblock %}
