{% extends "layout.html" %} {% block content %}{{super()}}
<div id="main" class="container-fluid">
    <div id="top" class="row">
        <h2>Bem vindo ao módulo Sentinela do Sistema AJNA</h2>
        <div class="col-md-12">
            Efetue login para acessar as funcionalidades do sistema.
            <br> A documentação do Sistema está em: XXXX
        </div>
    </div>
    <div id="list" class="row">
        <div class="table-responsive col-md-12">
            &nbsp;
        </div>
    </div>
    <div id="bottom" class="row">
        AJNA - Receita Federal do Brasil 2017
    </div>
</div>
<!-- /#main -->
{% endblock %} {% block scripts %} {{super()}}
<script type="text/javascript">
</script> {% endblock %}